/*FONTS */
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*** Formattazione per il mobile: 576px **/
/*****************INFORMAZIONI GENERALI ************************/
* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #191919;
}
h1 {
    font-family: "Spectral", serif;
}

a {
    text-decoration: none;
}
a:visited {
    color: #191919;
}

.button-style{
    background-color: #191919;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.8em;
    text-align: center;
}
.button-style a{
    color: white;
    margin: 0;
    
}
.trending-article h3, .main-article p, .trending-article-text p, .main-article button{
    color: #74767c;
}

/**************************** HEADER ********************************/

header {
    display: flex;
    flex-direction: column;
    
}
.nav-bar, #hero-section {
    background-color: #ffc017;
}

/************************* NAV BAR *******************************/

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: sticky;
    height: max-content;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #191919;
    transition: background-color 0.5s linear 0s;
}
.navbar-scrolled {
    background-color: white;
    z-index: 1;
}
.nav-bar div {
    margin-right: 4em;
    flex-basis: 50%;
}
.nav-bar ul {
    list-style: none;
    display: flex;
    margin-left: 1em;
}
.nav-bar nav ul li {
    list-style: none;
    display: flex;
    align-self: center;
    margin-right: 1em;
    
}
.nav-bar nav ul li:nth-child(1), .nav-bar nav ul li:nth-child(2), .nav-bar nav ul li:nth-child(3) {
    display: none;
}
.nav-bar nav ul li a {
    margin-right: 1.5em;
}
.nav-bar nav ul li a:last-child {
    margin-right: 0;
}
.button-nav {
    transition: background-color 0.5s linear 0s;
}
.nav-bar-button-scrolled {
    background-color: #1a8917;
} 
/********************* HERO SECTION ************************/

#hero-section {
    display: flex;
    border-bottom: 1px solid #191919;
    border-top: 0;
    justify-content: space-evenly;
    padding: 0 7em 0 1.3em;

}
#hero-section img {
    align-self: flex-end;
    display: none;
}
#hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0em 0.6em;


}
#hero-text h1, #hero-text p,#hero-text button {
    margin-bottom: 0.1em;
}

#hero-text h1 {
    margin-top: 0.7em;
    font-size: 14.4vw;
    color: #191919;
    letter-spacing: -5px;
    font-weight: 600;
}
#hero-text p {
    margin-bottom: 3em;
    font-size: 1.5em;
    word-wrap: break-word;
}

#hero-text button {
    margin-bottom: 1em;
    padding: 0.7em 4em;
}
#hero-text button a {
    font-size: 1.4em;
}

/************ MAIN SECTION ************/

main {
    display: flex;
    flex-direction: column;
    
}

/************ TRENDING  SECTION ************/
/************** TRENDING LOGO ************/

#firstPartMain {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(19, 19, 19, 0.4);
    padding: 2em 0em 1em 1.4em;
}
#toM, .s-article div div:first-child  {
    display: flex;
    margin: 0.5em 0;
}

/* Messo insieme all'h4 dell'aside poiché ha la stessa formattazione */
#firstPartMain div:first-child h4, aside h4 {
    text-transform: uppercase;
    align-self: center;
    margin-left: 1em;
    font-size: 0.9em;
    font-weight: bold;
}

/************ TRENDING ARTICLE *****************/
#all-trending-articles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Messo insieme al div delle informazioni utente degli articoli poiché ha la stessa formattazione*/
.trending-article, .s-article div div:first-child {
    display: flex;
    flex-direction: row;
    margin-right: 1.4em;
}
.trending-article {
    margin-bottom: 2em;
}
.trending-article h3 {
    font-size: 2em;
    margin-right: 0.7em;
}
/* le foto degli utenti della sezione trending e degli articoli sono messi insieme poiché hanno la stessa formattazione */
.trending-article-text img, .s-article div div:first-child img {
    border-radius: 50px;
    max-width: 8%;
}
/*Modifiche alle immagini che non avevano le stesse grandezze*/
#user_img2 {
    max-width: 7%;
}
#user_img3, #user_img4, #user_img5{
    max-width: 4%;
}
#user_img6 {
    max-width: 6%;
}
/* Messo insieme a l'h4 degli articoli poiché ha la stessa formattazione*/
.trending-article-text h5 , .s-article h4 {
    align-self: center;
    margin-left: 0.4em;
    font-weight: bold;
    font-size: 0.9em;
}
.trending-article-text h4 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.5em 0;

}
.trending-article-text div:last-child {
    font-size: 0.9em;
    margin-top: 0.3em;
    display: flex;
    justify-content: space-between;
}
.trending-article-text img:last-child {
    display: none;
}
/************************* SECOND PART MAIN****************************/
#secondPartMain{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 1em;
}
/*****************ARTICLE**************/
.all-articles {
    padding: 3em 1em 0 0.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/**VEDERE SU PER LA FORMATTAZIONE DEL DIV DELLE INFORMAZIONI UTENTE **/
.s-article {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3em;
    padding-left: 1.5em;
}
.s-article div:first-child {
    display: flex;
    flex-direction: column;

}
.art_img {
    align-self: center;
    margin-left: 0.5em;
}
.art_img img {
    max-width: 100%;
    height: auto;
}
.s-article-text {
    display: flex;
    flex-direction: column;
    padding: 0 3em 0 0;
}
.s-article h3{
 font-size: 1.4em;
 font-weight: 900;
 margin: 0.3em 0;
 width: 12.5em;

}
.s-article h3 + p {
    margin-bottom: 0.4em;  
}
.s-article h3 + p span:nth-child(2), .s-article h3 + p span:nth-child(3) {
    display: none;
}
.last_part_articles{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.last_part_articles p{
align-self: center;
}

.last_part_articles button{
    border: 0;
    background-color: #f2f3f3;
    padding: 0.3em 0.7em;
    border-radius: 15px;
    margin-left: 0.6em;
    text-align: left;
    
}
.last_part_articles button + img {
    margin-left: 0.3em;
}
.last_part_articles img:last-child {
    margin-right: 0.8em;
}
/*************ASIDE SECTION***********/
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em 0 1.3em;
} 
.tag-argoument {
    display: flex;
    flex-wrap: wrap;
    white-space: wrap;
    margin: 1em 0;
}
.tag-argoument p {
    margin: 0.3em 0.4em;
    border: 1px solid #e6e7e7;
    border-radius: 5px;
    padding: 0.5em 0.6em;
    
}
aside ul {
    border-top: 1px solid #e6e7e7;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-top: 1.3em;

}
aside ul li {
    margin: 0.5em 1em 0.5em ;
}

@media screen and (min-width: 768px) {
    .nav-bar nav ul li:nth-child(1), .nav-bar nav ul li:nth-child(2), .nav-bar nav ul li:nth-child(3) {
        display: inline;
    }
    #hero-section {
        /*padding: 0 7em 0 1.3em; */
        padding: 0 0em 0 1.3em;
    }
    #hero-section div {
        display: flex;
    }
    #hero-section div img {
        display: inline;
        width: 100%;
        height: 100%;
    }
    #hero-text h1 {
        font-size: 10vw;
    }
    #hero-text p {
        width: 19em;
    }
    #toM{
        margin-left: .5em;
    }
    #all-trending-articles {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap; 
    }
    .trending-article{
        margin-right: 0;
        width: 23em;
    }
    .trending-article-text h4 {
        width: 15.5em;
    }
    
    .s-article h3 {
        width: 20em;
    }
    .s-article h3 + p {
        width: 28em;
    }
    
    .s-article h3 + p span:nth-child(1) {
        display: none;
    }
    .s-article h3 + p span:nth-child(2) {
        display: inline-block;
        
    }
    
}


@media screen and (min-width: 1201px) {
    #firstPartMain {
        padding: 3em 2.5em 3em 3.1em;;
    }
    #secondPartMain {
        flex-direction: row;
    }
    #hero-section div {
        justify-content: center;
    }
    #hero-text {
        margin-left: 3em;
    }
    #hero-section div img {
        margin-left: 10.2em;
    }
    #hero-text h1 {
        font-size: 7vw;
        text-wrap: nowrap;
    }
    .s-article h3 {
        width: 19em;
    }
    .s-article h3 + p {
        width: 27.8em;
    }
    .all-articles article:nth-child(5) h3 + p span:nth-child(2), .all-articles article:nth-child(7) h3 + p span:nth-child(2) {
        display: none;
    }    
    .s-article h3 + p span:nth-child(3) {
        display: inline;
        
    }
    .all-articles {
        width: 45em;
    }
    aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 4.7em;
    height: max-content; 
    }
    aside div {
        width: 26em;
    }

}
